.github-button {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.slider-container {
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
}

#font-size-slider {
  z-index: 3;
  -webkit-appearance: none;
  width: 100px;
  background-color: lime;
  display: none;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#font-size-slider::-webkit-slider-runnable-track {
  height: 1px;
  background-color: #000000;
  border-radius: 2px;
  border: none;
  transform: translateY(-50%);
}

#font-size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 0 0 0 1px lime;
  appearance: none;
  width: 10px;
  height: 15px;
  background-color: #000;
  border: 2px solid #000000;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  top: -7px;
}

#change-color-button,
#gui-toggle,
#clear-button,
#save-button,
#remove-images-button,
#upload-button {
  position: fixed;
  color: #fff;
  background-color: #333;
  border: none;
  z-index: 3;
  border-radius: 13px;
  padding: 13px;
  user-select: none;
}

#change-color-button { right: calc(2px + 169px); }
#gui-toggle { right: calc(2px + 60px); }
#clear-button { right: 2px; }
#save-button { left: 2px; }
#remove-images-button { left: calc(100% - 479px); }
#upload-button { right: calc(100% - 170px); }

#font-select {
  background-color: black;
  color: white;
  border: none;
  padding: 1px;
  margin-top: 1em;
}

#color-picker {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 1%;
  background-color: rgb(226, 230, 45);
}

#text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

#text-input {
  width: 80%;
  padding: 0.5em;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

#gui-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;       /* responsive */
  width: 500px;
  z-index: 2;
  opacity: 0.9;
  padding: 1.5em;
  background-color: #333;
  border: 2px solid black;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  user-select: none;
}

.container {
  position: fixed;
  bottom: 0%;
  left: 2px;
}

/* ---------------- MOBILE RESPONSIVENESS ---------------- */

@media (max-width: 600px) {

  #gui-container {
    width: 95%;
    padding: 1em;
  }

  #text-input {
    width: 95%;
  }

  #font-size-slider {
    width: 80%;
  }

  #change-color-button,
  #gui-toggle,
  #clear-button,
  #save-button,
  #remove-images-button,
  #upload-button {
    padding: 10px;
    font-size: 12px;
  }

  .slider-container {
    top: 5%;
  }

}
