#gui-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 1.5em;
  background-color: #333;
  border: 4px solid black;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  user-select: none;
}

#text-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

#text-input {
  width: 80%;
  height: 10px;
  padding: 0.5em;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  margin-right: 0.5em;
  word-wrap: break-word;
}
#color-picker {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 1%;
  background-color: rgb(226, 230, 45);
}
#gui-toggle,
#gui-container {
  z-index: 2;
  opacity: 95%;
}
#gui-toggle {
  position: fixed;
  user-select: none;
  z-index: 2;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

#gui-toggle:hover {
  background-color: #444;
}
#submit-button {
  padding: 0.5em 1em;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #eee;
}
#save-button {
  position: fixed;
  top: 10px;
  right: 10px;
  user-select: none;
  z-index: 2;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

#save-button:hover {
  background-color: #444;
}
#text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

#color-picker {
  margin-top: 1em;
}

#submit-button {
  margin-top: 1em;
}